@charset "UTF-8";
@import url(../node_modules/normalize.css/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
*, *::before, *::after { box-sizing: border-box; }

a { text-decoration: none; color: inherit; cursor: pointer; }

button { background-color: transparent; color: inherit; border-width: 0; padding: 0; cursor: pointer; }

figure { margin: 0; }

input::-moz-focus-inner { border: 0; padding: 0; margin: 0; }

ul, ol, dd { margin: 0; padding: 0; list-style: none; }

h1, h2, h3, h4, h5, h6 { margin: 0; font-size: inherit; font-weight: inherit; }

p { margin: 0; }

cite { font-style: normal; }

fieldset { border-width: 0; padding: 0; margin: 0; }

.bg-transparent { background-color: transparent; }

.bg-black { background-color: black; }

.bg-blue { background-color: #0000a9; }

.bg-green { background-color: #00a800; }

.bg-aqua { background-color: #00aaa8; }

.bg-red { background-color: #a90000; }

.bg-purple { background-color: #a901a9; }

.bg-yellow { background-color: #a85500; }

.bg-white { background-color: #aaaaaa; }

.bg-gray { background-color: #555555; }

.bg-light_blue { background-color: #5554fe; }

.bg-light_green { background-color: #55fd55; }

.bg-light_aqua { background-color: #55fffd; }

.bg-light_red { background-color: #fe5454; }

.bg-light_purple { background-color: #fe56fe; }

.bg-light_yellow { background-color: #feff55; }

.bg-bright_white { background-color: white; }

.fg-transparent { color: transparent; }

.fg-black { color: black; }

.fg-blue { color: #0000a9; }

.fg-green { color: #00a800; }

.fg-aqua { color: #00aaa8; }

.fg-red { color: #a90000; }

.fg-purple { color: #a901a9; }

.fg-yellow { color: #a85500; }

.fg-white { color: #aaaaaa; }

.fg-gray { color: #555555; }

.fg-light_blue { color: #5554fe; }

.fg-light_green { color: #55fd55; }

.fg-light_aqua { color: #55fffd; }

.fg-light_red { color: #fe5454; }

.fg-light_purple { color: #fe56fe; }

.fg-light_yellow { color: #feff55; }

.fg-bright_white { color: white; }

.color-box { margin: 0px 10px 0px 10px; background-color: #aaaaaa; display: inline-block; }

.color-box pre { padding: 0px; margin: 0px; font-weight: 700; }

/* Typography */
.color-box.typo pre.active { background-color: #00aaa8; color: black; }

.color-box.typo pre.selected { background-color: #aaaaaa; color: black; }

.color-box.typo pre.keyword { background-color: #00aaa8; color: #feff55; }

.color-box.typo pre.keyword-selected { background-color: #0000a9; color: #feff55; }

.color-box.typo pre.heading { background-color: #00aaa8; color: black; }

html { font-size: 1px; /*for using REM units*/ }

body { font-size: 16rem; font-weight: 400; font-family: "Roboto Mono", monospace; color: black; background-color: #00aaa8; line-height: 1.5; }

h1 { font-size: 16rem; font-weight: 700; line-height: 1.2; color: black; text-transform: uppercase; background-color: #00aaa8; margin: 12px 8px; padding: 3px 8px; border-bottom: black solid 7px; display: table; cursor: default; }

h2 { font-size: 16rem; font-weight: 700; line-height: 1.2; color: black; background-color: #00aaa8; margin: 12px 8px; padding: 3px 9px; border-top: black solid 10px; border-bottom: black solid 7px; display: table; cursor: default; }

h3 { font-size: 16rem; font-weight: 700; line-height: 1.2; color: black; background-color: #00aaa8; margin: 12px 8px; padding: 10px; border-bottom: black solid 7px; display: table; cursor: default; }

h4 { font-size: 16rem; font-weight: 700; line-height: 1.2; color: black; background-color: #00aaa8; margin: 12px 8px; padding: 10px; border-top: black solid 1px; border-bottom: black solid 1px; border-left: black solid 2px; border-right: black solid 2px; display: table; cursor: default; }

p { font-size: 16rem; font-weight: 400; background-color: #00aaa8; color: black; margin: 10px 0px; }

b, strong { font-weight: 700; }

strong { text-decoration: underline; }

i, em { font-style: italic; }

em { text-decoration: underline; }

a:link, a:visited { background-color: #00aaa8; color: #feff55; }

a:focus, a:active { background-color: #0000a9; color: #feff55; outline: none; }

address, time { font-style: italic; display: inline-block; }

blockquote { background-color: #0000a9; margin: 12px 8px; padding: 0px; display: block; border-left: 7px solid #feff55; }

blockquote p { font-style: italic; color: #00aaa8; background-color: #0000a9; margin: 0px 10px; padding: 0px; }

::-moz-selection { color: black; background-color: #aaaaaa; }

::selection { color: black; background: #aaaaaa; }

/* Buttons */
.color-box.button pre.selected { background-color: #00a800; color: white; }

.color-box.button pre.selected::first-letter { background-color: #00a800; color: #feff55; }

.color-box.button pre.default { background-color: #00a800; color: #55fffd; }

.color-box.button pre.default::first-letter { background-color: #00a800; color: #feff55; }

.color-box.button pre.active { background-color: #00a800; color: black; }

.color-box.button pre.active::first-letter { background-color: #00a800; color: #feff55; }

.color-box.button pre.disabled { background-color: #aaaaaa; color: #555555; }

button, a.tc-btn { background-color: #00a800; color: black; font-weight: 700; line-height: 1; margin: 10px; padding: 4px 15px 8px 15px; min-width: 132px; -webkit-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75); -moz-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75); box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75); }

a.tc-btn, a.tc-btn:link { display: inline-block; text-decoration: none; color: black; text-align: center; }

a.tc-btn:active, a.tc-btn:link:active, a.tc-btn:visited:active { background-color: #00a800; color: white; }

button:active, a.tc-btn:active { margin-left: 20px; margin-right: 0px; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

button:disabled, a.tc-btn.disabled { background-color: #aaaaaa; color: #555555; cursor: default; }

a.tc-btn.disabled { pointer-events: none; }

button.default, a.tc-btn.default { background-color: #00a800; color: #55fffd; }

button:focus, a.tc-btn:focus { background-color: #00a800; color: white; }

button:focus-visible, a.tc-btn:focus-visible { outline: none; }

button u, a.tc-btn u { text-decoration: none; }

button[accesskey] u, a.tc-btn[accesskey] u { color: #feff55; background-color: #00a800; }

/* Textbox */
.color-box.textbox pre.normal { background-color: #0000a9; color: #55fffd; }

.color-box.textbox pre.volatile { background-color: #00a800; color: white; }

.color-box.textbox pre.selected { background-color: #0000a9; color: white; }

.color-box.textbox pre.disabled { background-color: #aaaaaa; color: #555555; }

input[type=text], input[type=password], input[type=email], input[type=tel], input[type=number], textarea { color: #55fffd; font-weight: 700; line-height: 1.1; background-color: #0000a9; border: none; outline: none; padding: 3px 8px; margin: 3px 0px; }

textarea { background-color: #0000a9; resize: none; }

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=tel]:focus, input[type=number]:focus, textarea:focus { color: white; background-color: #0000a9; }

input[type=text]::-moz-selection, input[type=password]::-moz-selection, input[type=email]::-moz-selection, input[type=tel]::-moz-selection, input[type=number]::-moz-selection, textarea::-moz-selection { color: white; background-color: #00a800; }

input[type=text]::selection, input[type=password]::selection, input[type=email]::selection, input[type=tel]::selection, input[type=number]::selection, textarea::selection { color: white; background-color: #00a800; }

input[type=text]:disabled, input[type=password]:disabled, input[type=email]:disabled, input[type=tel]:disabled, input[type=number]:disabled, textarea:disabled { color: #555555; background-color: #aaaaaa; }

input[type=text]:disabled::-moz-selection, input[type=password]:disabled::-moz-selection, input[type=email]:disabled::-moz-selection, input[type=tel]:disabled::-moz-selection, input[type=number]:disabled::-moz-selection, textarea:disabled::-moz-selection { color: #555555; background-color: #aaaaaa; }

input[type=text]:disabled::selection, input[type=password]:disabled::selection, input[type=email]:disabled::selection, input[type=tel]:disabled::selection, input[type=number]:disabled::selection, textarea:disabled::selection { color: #555555; background-color: #aaaaaa; }

input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }

input[type=number] { -moz-appearance: textfield; }

textarea { min-height: 150px; }

textarea::-webkit-scrollbar { width: 16rem; height: 16rem; }

textarea::-webkit-scrollbar-track { background-color: #00aaa8; opacity: 1; background-image: repeating-linear-gradient(45deg, #0000a9 25%, transparent 25%, transparent 75%, #0000a9 75%, #0000a9), repeating-linear-gradient(45deg, #0000a9 25%, #00aaa8 25%, #00aaa8 75%, #0000a9 75%, #0000a9); background-position: 0 0, 2px 2px; background-size: 4px 4px; }

textarea::-webkit-scrollbar-thumb { background-color: #00aaa8; border: #0000a9 solid 4px; }

textarea::-webkit-scrollbar-button { height: 16px; width: 16px; }

textarea::-webkit-scrollbar-corner { background-color: #0000a9; }

textarea::-webkit-scrollbar-button:vertical:decrement { background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAKCAYAAABmBXS+AAAAAXNSR0IArs4c6QAAAD1JREFUKFNjZEAHq5b/ZwiLZEQWRuEwgBTAAJJCEhUhm4JmGsIkgoqwKUAyDWISUYowwgFVANV3OBQTpQgA9UIVC8Bjp68AAAAASUVORK5CYII=); background-repeat: no-repeat; background-position-x: 4px; background-position-y: 2px; background-size: 8px 16px; }

textarea::-webkit-scrollbar-button:vertical:increment { background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAKCAYAAABmBXS+AAAAAXNSR0IArs4c6QAAAD9JREFUKFNjZACBVcv/g2lsICySkZF4RbhMC4sEGwIxiWhF6AqhpqCaRLQimEIkUzBNwhEKCIfjDChk3+FRBAD1QhULt999SAAAAABJRU5ErkJggg==); background-repeat: no-repeat; background-position-x: 4px; background-position-y: 3px; background-size: 8px 16px; }

textarea::-webkit-scrollbar-button:horizontal:decrement { background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAD1JREFUKFNjZMAGVi3/zxAWyYgshcIBS4AUgQBehTBFeBUiK8KpEF0R5SbCvEeUG9EVEwweWBARpRBLJAAADBEbC/NtWlUAAAAASUVORK5CYII=); background-repeat: no-repeat; background-position-x: 1px; background-position-y: 1px; background-size: 12px 16px; width: 12rem; }

textarea::-webkit-scrollbar-button:horizontal:increment { background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAADpJREFUKFNjZEAGq5b/ZwiLZEQRg3JQBUEKQQCLYuwKsSjGrRBNMX6FSIqpYCKahyjwNVHhiC2koWIAJBEbCzHyaSkAAAAASUVORK5CYII=); background-repeat: no-repeat; background-position-x: 0px; background-position-y: 1px; background-size: 12px 16px; width: 12rem; }

/* Selectbox */
.color-box.selectbox pre.active { background-color: #00aaa8; color: black; }

.color-box.selectbox pre.default { background-color: #00aaa8; color: #feff55; }

.color-box.selectbox pre.selected { background-color: #00a800; color: white; }

.color-box.selectbox pre.disabled { background-color: #00aaa8; color: #555555; }

select { line-height: 1.1; background-color: #0000a9; border: none; outline: none; }

option { font-weight: 700; line-height: 1.1; background-color: #00aaa8; color: black; cursor: pointer; }

select option:checked { color: #feff55; background: #00aaa8 linear-gradient(0deg, #00aaa8 0%, #00aaa8 100%); }

select:focus option:checked { color: white; background: #00a800 linear-gradient(0deg, #00a800 0%, #00a800 100%); }

select:disabled { overflow: hidden; }

select:disabled option, select option:disabled { color: #555555; background: #00aaa8 linear-gradient(0deg, #00aaa8 0%, #00aaa8 100%); cursor: default; }

select::-webkit-scrollbar { width: 16rem; }

select::-webkit-scrollbar-track { background-color: #00aaa8; opacity: 1; background-image: repeating-linear-gradient(45deg, #0000a9 25%, transparent 25%, transparent 75%, #0000a9 75%, #0000a9), repeating-linear-gradient(45deg, #0000a9 25%, #00aaa8 25%, #00aaa8 75%, #0000a9 75%, #0000a9); background-position: 0 0, 2px 2px; background-size: 4px 4px; }

select::-webkit-scrollbar-thumb { background-color: #0000a9; border: #00aaa8 solid 4px; }

select::-webkit-scrollbar-button:vertical { height: 16px; width: 8px; }

select::-webkit-scrollbar-button:vertical:decrement { background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAKCAYAAABmBXS+AAAAAXNSR0IArs4c6QAAAD1JREFUKFNjZEAHq5b/ZwiLZEQWRuEwgBTAAJJCEhUhm4JmGsIkgoqwKUAyDWISUYowwgFVANV3OBQTpQgA9UIVC8Bjp68AAAAASUVORK5CYII=); background-repeat: no-repeat; background-position-x: 4px; background-position-y: 2px; background-size: 8px 16px; }

select::-webkit-scrollbar-button:vertical:increment { background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAKCAYAAABmBXS+AAAAAXNSR0IArs4c6QAAAD9JREFUKFNjZACBVcv/g2lsICySkZF4RbhMC4sEGwIxiWhF6AqhpqCaRLQimEIkUzBNwhEKCIfjDChk3+FRBAD1QhULt999SAAAAABJRU5ErkJggg==); background-repeat: no-repeat; background-position-x: 4px; background-position-y: 3px; background-size: 8px 16px; }

/* Checkbox */
.color-box.checkbox pre.active { background-color: #00aaa8; color: black; }

.color-box.checkbox pre.active::first-letter { background-color: #00aaa8; color: #feff55; }

.color-box.checkbox pre.selected { background-color: #00aaa8; color: white; }

.color-box.checkbox pre.selected::first-letter { background-color: #00aaa8; color: #feff55; }

.color-box.checkbox pre.disabled { background-color: #00aaa8; color: #555555; }

.color-box.checkbox pre.disabled::first-letter { background-color: #00aaa8; color: #555555; }

input[type=checkbox], input[type=radio] { line-height: 1.1; width: 30px; }

input[type=checkbox]::after, input[type=radio]::after { font-weight: 700; color: black; line-height: 1.1; background-color: #00aaa8; width: 30px; margin: -2px -3px; display: inline-block; cursor: pointer; }

input[type=checkbox]::after { content: "[ ]"; }

input[type=checkbox]:checked::after { content: "[X]"; }

input[type=radio]::after { content: "( )"; }

input[type=radio]:checked::after { content: "(●)"; letter-spacing: 0.4rem; }

input[type=checkbox] + label, input[type=radio] + label { color: black; line-height: 1.1; font-weight: 700; background-color: #00aaa8; margin-bottom: 0px; margin-left: -7px; display: inline-block; vertical-align: middle; cursor: pointer; }

input[type=radio] + label { vertical-align: bottom; }

input[type=checkbox] + label[for]::first-letter, input[type=radio] + label[for]::first-letter { color: #feff55; background-color: #00aaa8; }

input[type=checkbox] + label:active, input[type=checkbox]:active + label, input[type=checkbox]:focus + label, input[type=radio] + label:active, input[type=radio]:active + label, input[type=radio]:focus + label { color: white; background-color: #00aaa8; }

input[type=checkbox] + label:active::first-letter, input[type=checkbox]:active + label::first-letter, input[type=checkbox]:focus + label::first-letter, input[type=radio] + label:active::first-letter, input[type=radio]:active + label::first-letter, input[type=radio]:focus + label::first-letter { color: #feff55; background-color: #00aaa8; }

input[type=checkbox]:active::after, input[type=checkbox]:focus::after, input[type=radio]:active::after, input[type=radio]:focus::after { color: white; background-color: #00aaa8; }

input[type=checkbox]:disabled, input[type=checkbox]:disabled::after, input[type=checkbox]:disabled + label, input[type=checkbox]:disabled + label::first-letter, input[type=radio]:disabled, input[type=radio]:disabled::after, input[type=radio]:disabled + label, input[type=radio]:disabled + label::first-letter { color: #555555; font-weight: 700; background-color: #00aaa8; cursor: default; }

/* Layout */
.color-box.layout pre.header { background-color: #00aaa8; color: black; }

body { background-color: #aaaaaa; background-image: radial-gradient(circle, #0000a9 25%, transparent 10%), radial-gradient(circle, #0000a9 25%, transparent 10%); background-size: 6px 6px; background-position: 0 0, 3px 3px; }

header { color: black; background-color: #00aaa8; height: 70px; width: 900px; margin: 20px auto 0px auto; padding: 5px 10px; display: block; }

header span.site-name { font-size: 16rem; font-weight: 700; line-height: 1.2; color: black; text-transform: uppercase; background-color: #00aaa8; margin: 12px 8px; padding: 3px 8px; border-bottom: black solid 7px; display: table; cursor: default; }

footer { color: black; text-align: center; background-color: #00aaa8; height: 50px; width: 900px; padding: 0px; margin: 15px auto 10px auto; }

footer span.credits { display: inline-block; margin: 13px 0px; }

main { background-color: #00aaa8; min-height: calc(100vh - 189px); width: 900px; margin: 0px auto; padding: 7px 3px; }

article { color: black; background-color: #00aaa8; position: relative; border-left-width: 2px; border-right-width: 2px; min-height: 150px; padding: 10px 3px; border: 4px double white; }

article > header { line-height: 1; text-align: center; background-color: transparent; width: 100%; height: inherit; margin: 0px; padding: 0px; display: inline; position: absolute; top: -10px; left: 0px; }

article > header > h1 { color: white; line-height: 1; text-transform: capitalize; background-color: #00aaa8; padding: 0px 8px; margin: 0px; display: inline-block; border: none; }

article footer { text-align: center; background-color: #00aaa8; margin: 0px; padding: 30px 0px 0px 0px; width: 100%; height: inherit; }

ol { list-style-type: decimal; list-style-position: inside; padding-left: 16px; display: block; }

ul { list-style-type: square; list-style-position: inside; padding-left: 16px; display: block; }

ul li, ol li { display: list-item; }

ul li:before, ol li:before { content: ""; display: inline-block; margin-left: -8px; }

img { max-width: 100%; margin: 5px auto; display: block; }

hr { margin: 5px auto; display: block; border: 2px solid black; }

div.info-box, div.warn-box, div.notice-box, div.error-box { font-weight: 700; margin: 12px 8px; padding: 5px 10px; display: block; border: double 4px white; }

div.info-box { color: #00aaa8; background-color: #0000a9; }

div.warn-box { color: #feff55; background-color: #0000a9; }

div.notice-box { color: #55fffd; background-color: #0000a9; }

div.error-box { color: #fe5454; background-color: #0000a9; }

div.field-group { display: flex; flex-direction: column; justify-content: center; }

div.field-group { margin-bottom: 16px; }

div.field-group input[type=text], div.field-group input[type=password], div.field-group input[type=tel], div.field-group input[type=email], div.field-group input[type=number], div.field-group textarea, div.field-group select { order: 2; width: 100%; }

div.field-group label { color: black; font-weight: 700; line-height: 1; background-color: #00aaa8; margin: 0px; }

div.field-group label::first-letter { color: #feff55; background-color: #00aaa8; }

div.field-group *:not(label):focus + label { color: white; background-color: #00aaa8; }

div.field-group-row { margin-bottom: 16px; display: flex; flex-direction: row; flex-flow: column wrap; }

div.field-group-row > div.field-group { text-align: left; margin: 0px; width: 100%; display: block; }

div.field-group-row > div.field-group.left { text-align: left; }

div.field-group-row > div.field-group.center { text-align: center; }

div.field-group-row > div.field-group.right { text-align: right; }

.color-box.menu pre.normal { background-color: #aaaaaa; color: black; }

.color-box.menu pre.normal.firstletter { background-color: #aaaaaa; color: #a90000; }

.color-box.menu pre.selected { background-color: #00a800; color: black; }

.color-box.menu pre.selected.firstletter { background-color: #00a800; color: #a90000; }

.color-box.menu pre.disabled { background-color: #aaaaaa; color: #555555; }

.color-box.menu pre.disabled.selected { background-color: black; color: #555555; }

nav { background-color: #aaaaaa; width: 900px; margin: 0px auto; }

nav ul { padding: 0px; margin: 0px; list-style: none; display: table; }

nav ul li { padding: 0px 0px; display: inline-block; }

nav ul li::before { display: none; }

nav ul li a:link, nav ul li a:visited, nav ul li a:hover { color: black; font-weight: 700; background-color: #aaaaaa; padding: 0px 9px; display: block; }

nav ul li a:link::first-letter, nav ul li a:visited::first-letter, nav ul li a:hover::first-letter { color: #a90000; background-color: #aaaaaa; }

nav ul li a:focus, nav ul li a:active, nav ul li a:hover, nav ul li.active a:link, nav ul li.active a:visited, nav ul li.active a:hover { color: black; background-color: #00a800; }

nav ul li a:focus::first-letter, nav ul li a:active::first-letter, nav ul li a:hover::first-letter, nav ul li.active a:link::first-letter, nav ul li.active a:visited::first-letter, nav ul li.active a:hover::first-letter { color: #a90000; background-color: #00a800; }

nav ul li.disabled a:link, nav ul li.disabled a:visited, nav ul li.disabled a:hover, nav ul li.disabled a:link::first-letter, nav ul li.disabled a:visited::first-letter, nav ul li.disabled a:hover::first-letter { color: #555555; background-color: #aaaaaa; cursor: default; }

nav ul li.disabled a:focus, nav ul li.disabled a:active, nav ul li.disabled a:hover, nav ul li.disabled a:focus::first-letter, nav ul li.disabled a:active::first-letter, nav ul li.disabled a:hover::first-letter { color: #555555; background-color: black; cursor: default; }

nav ul li div.sub-menu { background-color: #aaaaaa; margin: 0px; padding: 7px 11px; display: none; position: absolute; z-index: 2; }

nav ul li div.sub-menu ul { padding-bottom: 7px; padding-top: 8px; border: 2px solid black; border-top-width: 1px; border-bottom-width: 1px; }

nav ul li div.sub-menu ul li { margin: 0px 3px; display: block; }

nav ul li div.sub-menu ul li[role=separator] { width: 100%; margin: 7px 0px 8px 0px; border-bottom: 1px solid black; }

nav ul li div.sub-menu ul li a { margin: 0px; padding: 3px 8px; min-width: 150px; }

.color-box.dialog-guide pre.title { background-color: #aaaaaa; color: white; }

.color-box.dialog-guide pre.text { background-color: #aaaaaa; color: black; }

.color-box.dialog-guide pre.icon { background-color: #aaaaaa; color: #55fd55; }

div.dialog { background-color: transparent; position: fixed; top: 0; bottom: 0; left: 0; right: 0; display: none; }

div.dialog div.dialog-box { background-color: #aaaaaa; position: relative; margin: 100px auto; padding: 5px 1px 8px 2px; display: block; width: 450px; -webkit-box-shadow: 16px 16px 0px 0px rgba(0, 0, 0, 0.75); -moz-box-shadow: 16px 16px 0px 0px rgba(0, 0, 0, 0.75); box-shadow: 16px 16px 0px 0px rgba(0, 0, 0, 0.75); }

div.dialog.large div.dialog-box { width: 675px; }

div.dialog div.dialog-box div.dialog-content { background-color: #aaaaaa; padding: 21px 17px; border: 4px double white; }

/* Reset Default Styles */
div.dialog div.dialog-box div.dialog-content header, div.dialog div.dialog-box div.dialog-content main, div.dialog div.dialog-box div.dialog-content footer { width: 100%; min-height: inherit; height: inherit; margin: 0px; padding: 0px; }

div.dialog div.dialog-box div.dialog-content > header { display: inline; position: absolute; top: 0px; left: 0px; margin: 0px; padding: 0px; width: 100%; height: inherit; line-height: 1; text-align: center; background-color: transparent; }

div.dialog div.dialog-box div.dialog-content > header > span { color: white; line-height: 1; text-transform: capitalize; background-color: #aaaaaa; padding: 0px 8px; margin: 0px; display: inline-block; border: none; }

div.dialog div.dialog-box div.dialog-content main { color: black; background-color: #aaaaaa; }

div.dialog div.dialog-box div.dialog-content > main > p { color: black; }

div.dialog div.dialog-box div.dialog-content > main p, div.dialog div.dialog-box div.dialog-content > main label, div.dialog div.dialog-box div.dialog-content > main label::first-letter { background-color: #aaaaaa; }

div.dialog div.dialog-box div.dialog-content footer { text-align: center; color: black; background-color: #aaaaaa; }

/* Themes */
body.theme-small header, body.theme-small main, body.theme-small footer, body.theme-small nav { width: 640px; }

body.theme-large header, body.theme-large main, body.theme-large footer, body.theme-large nav { width: 1024px; }

/*# sourceMappingURL=main.css.map */