// Variables
$site-width: 900px;
$site-width-large: 1024px;
$site-width-small: 640px;

$body-bg: $white;
$body-bg-pattern: $blue;

$header-height: 70px;
$header-margin-top: 20px;
$header-margin-bottom: 0px;
$header-bg: $aqua;
$header-fg: $black;

$nav-height: stripUnit($text-size) * $text-line-height;

$footer-height: 50px;
$footer-margin-top: 15px;
$footer-margin-bottom: 10px;
$footer-bg: $aqua;
$footer-fg: $black;

$footer-credits-margin-top: (stripUnit($footer-height) - (stripUnit($text-size) * $text-line-height)) / 2;

$main-height: $header-margin-top+$header-height+$header-margin-bottom+$nav-height+$footer-margin-top+$footer-height+$footer-margin-bottom;
$main-bg: $aqua;

$article-bg: $main-bg;
$article-fg: $black;
$article-header-fg: $bright-white;
$article-header-border: $bright-white;


@if $darkMode==true {
    $body-bg: $black;
    $body-bg-pattern: $gray;

    $header-bg: $black;
    $header-fg: $white;

    $footer-bg: $black;
    $footer-fg: $white;

    $main-bg: $black;

    $article-bg: $main-bg;
    $article-fg: $white;

    $article-header-fg: $bright-white;
    $article-header-border: $bright-white;
}


// Guidances
.color-box.layout {
    pre {
        &.header {
            @include colorbox($header-bg, $header-fg);
        }
    }
}


// Styles
body {
    background-color: $body-bg;
    background-image: radial-gradient(circle, $body-bg-pattern 25%, transparent 10%),
        radial-gradient(circle, $body-bg-pattern 25%, transparent 10%);
    background-size: 6px 6px;
    background-position: 0 0,
        3px 3px;
}

header {
    color: $header-fg;

    background-color: $header-bg;

    height: $header-height;
    width: $site-width;

    margin: $header-margin-top auto $header-margin-bottom auto;

    padding: 5px 10px;

    display: block;

    span.site-name {
        font-size: 16rem;
        font-weight: $text-bold-font-weight;
        line-height: 1.2;
        color: $text-heading-fg;
        text-transform: uppercase;

        background-color: $text-heading-bg;

        margin: 12px 8px;
        padding: 3px 8px;

        border-bottom: $text-heading-border solid 7px;

        display: table;

        cursor: default;
    }
}

footer {
    color: $footer-fg;
    text-align: center;

    background-color: $footer-bg;

    height: $footer-height;
    width: $site-width;

    padding: 0px;
    margin: $footer-margin-top auto $footer-margin-bottom auto;

    span.credits {
        display: inline-block;
        margin: pixel($footer-credits-margin-top) 0px;
    }
}

main {
    background-color: $main-bg;

    min-height: calc(100vh - #{$main-height});
    width: $site-width;

    margin: 0px auto;
    padding: 7px 3px;
}

article {
    color: $article-fg;

    background-color: $article-bg;

    position: relative;

    border-left-width: 2px;
    border-right-width: 2px;

    min-height: 150px;

    padding: 10px 3px;

    border: 4px double $article-header-border;

    >header {
        line-height: 1;
        text-align: center;

        background-color: transparent;

        width: 100%;
        height: inherit;

        margin: 0px;
        padding: 0px;

        display: inline;
        position: absolute;
        top: -10px;
        left: 0px;

        >h1 {
            color: $article-header-fg;
            line-height: 1;
            text-transform: capitalize;

            background-color: $article-bg;

            padding: 0px 8px;
            margin: 0px;

            display: inline-block;

            border: none;
        }
    }

    >footer {
        text-align: center;

        background-color: $article-bg;

        margin: 0px;
        padding: 30px 0px 0px 0px;

        width: 100% !important;
        height: inherit;
    }
}