// Styles
div.field-group,
div.field-group-row {
    margin-bottom: 16px;

    display: flex;
    flex-direction: column;

    justify-content: center;
}

div.field-group {
    flex-direction: column;

    justify-content: center;

    input[type=text],
    input[type=password],
    input[type=tel],
    input[type=email],
    input[type=number],
    textarea,
    select {
        order: 2;

        width: 100%;
    }

    label {

        background-color: var(--form-label-bg);
        color: var(--form-label-fg);


        font-weight: $text-bold-font-weight;
        line-height: 1;

        margin: 0px;

        &::first-letter {

            background-color: var(--form-label-firstletter-bg);
            color: var(--form-label-firstletter-fg);

        }
    }

    *:not(label):focus+label {

        background-color: var(--form-label-focus-bg);
        color: var(--form-label-focus-fg);

    }
}

div.field-group-row {
    flex-direction: row;

    flex-flow: column wrap;

    >div.field-group {
        text-align: left;

        margin: 0px;

        width: 100%;

        display: block;

        &.left {
            text-align: left;
        }

        &.center {
            text-align: center;
        }

        &.right {
            text-align: right;
        }
    }
}