// Variables
$header-height: 70px;
$header-margin-top: 20px;
$header-margin-bottom: 0px;

$nav-height: stripUnit($text-size) * $text-line-height;

$footer-height: 50px;
$footer-margin-top: 15px;
$footer-margin-bottom: 10px;

$footer-credits-margin-top: (stripUnit($footer-height) - (stripUnit($text-size) * $text-line-height)) / 2;

$main-height: $header-margin-top+$header-height+$header-margin-bottom+$nav-height+$footer-margin-top+$footer-height+$footer-margin-bottom;

$body-bg: $white;
$body-bg-pattern: $blue;
$header-bg: $aqua;
$header-fg: $black;
$footer-bg: $aqua;
$footer-fg: $black;
$main-bg: $aqua;
$article-bg: $main-bg;
$article-fg: $black;
$article-header-fg: $bright-white;
$article-header-border: $bright-white;


// Guidances
.color-box.layout {
    pre {
        &.header {
            @include colorizeElement($header-bg, $header-fg);
        }
    }
}


// Styles
body {
    background-color: $body-bg;
    background-image: radial-gradient(circle, $body-bg-pattern 25%, transparent 10%),
        radial-gradient(circle, $body-bg-pattern 25%, transparent 10%);
    background-size: 6px 6px;
    background-position: 0 0,
        3px 3px;
}

header {
    @include colorizeElement($header-bg, $header-fg);

    height: $header-height;
    width: $site-width;

    margin: $header-margin-top auto $header-margin-bottom auto;

    padding: 5px 10px;

    display: block;

    span.site-name {
        @include colorizeElement($text-heading-bg, $text-heading-fg);

        font-size: 16rem;
        font-weight: $text-bold-font-weight;
        line-height: 1.2;

        text-transform: uppercase;

        margin: 12px 8px;
        padding: 3px 8px;

        border-bottom: $text-heading-border solid 7px;

        display: table;

        cursor: default;
    }
}

footer {
    @include colorizeElement($footer-bg, $footer-fg);

    text-align: center;

    height: $footer-height;
    width: $site-width;

    padding: 0px;
    margin: $footer-margin-top auto $footer-margin-bottom auto;

    span.credits {
        display: inline-block;
        margin: pixel($footer-credits-margin-top) 0px;
    }
}

main {
    @include colorizeElement($main-bg, $text-active-fg);

    min-height: calc(100vh - #{$main-height});
    width: $site-width;

    margin: 0px auto;
    padding: 7px 3px;
}

article {
    @include colorizeElement($article-bg, $article-fg);

    position: relative;

    border-left-width: 2px;
    border-right-width: 2px;

    min-height: 150px;

    padding: 10px 3px;

    border: 4px double $article-header-border;

    >header {
        line-height: 1;
        text-align: center;

        background-color: transparent;

        width: 100%;
        height: inherit;

        margin: 0px;
        padding: 0px;

        display: inline;
        position: absolute;
        top: -10px;
        left: 0px;

        >h1 {
            @include colorizeElement($article-bg, $article-header-fg);

            line-height: 1;
            text-transform: capitalize;

            padding: 0px 8px;
            margin: 0px;

            display: inline-block;

            border: none;
        }
    }

    >footer {
        @include colorizeElement($article-bg, $text-active-fg);
        
        text-align: center;

        margin: 0px;
        padding: 30px 0px 0px 0px;

        width: 100% !important;
        height: inherit;
    }
}