$theme-white: (text-active-bg: $white,
    text-active-fg: $black,
    text-selected-bg: $blue,
    text-selected-fg: $white,
    text-keyword-active-bg: $white,
    text-keyword-active-fg: $light-yellow,
    text-keyword-selected-bg: $blue,
    text-keyword-selected-fg: $light-yellow,
    text-heading-bg: $white,
    text-heading-fg: $black,
    text-heading-border: $black,
    text-quotation-bg: $blue,
    text-quotation-fg: $white,
    text-quotation-border: $bright-white,

    button-selected-fg: $bright-white,
    button-selected-bg: $green,
    button-selected-letter-fg: $light-yellow,
    button-selected-letter-bg: $green,
    button-default-fg: $light-aqua,
    button-default-bg: $green,
    button-default-letter-fg: $light-yellow,
    button-default-letter-bg: $green,
    button-active-fg: $black,
    button-active-bg: $green,
    button-active-letter-fg: $light-yellow,
    button-active-letter-bg: $green,
    button-disabled-fg: $white,
    button-disabled-bg: $gray,
    button-shadow: $shadow-black,

    checkbox-active-bg: $white,
    checkbox-active-fg: $black,
    checkbox-active-firstletter-bg: $white,
    checkbox-active-firstletter-fg: $light-yellow,
    checkbox-selected-bg: $white,
    checkbox-selected-fg: $bright-white,
    checkbox-selected-firstletter-bg: $white,
    checkbox-selected-firstletter-fg: $light-yellow,
    checkbox-disabled-bg: $white,
    checkbox-disabled-fg: $gray,

    horizontal-line-border: $black,
    message-box-border: $bright-white,
    message-box-info-bg: $blue,
    message-box-info-fg: $aqua,
    message-box-warn-bg: $blue,
    message-box-warn-fg: $light-yellow,
    message-box-notice-bg: $blue,
    message-box-notice-fg: $light-aqua,
    message-box-error-bg: $blue,
    message-box-error-fg: $light-red,

    dialog-border: $bright-white,
    dialog-title-bg: $white,
    dialog-title-fg: $bright-white,
    dialog-text-bg: $white,
    dialog-text-fg: $black,
    dialog-icon-bg: $white,
    dialog-icon-fg: $light-green,
    dialog-shadow: $shadow-black,

    menu-bg: $gray,
    menu-border: $black,
    menu-normal-bg: $gray,
    menu-normal-fg: $white,
    menu-normal-firstletter-bg: $gray,
    menu-normal-firstletter-fg: $light-red,
    menu-selected-bg: $green,
    menu-selected-fg: $black,
    menu-selected-firstletter-bg: $green,
    menu-selected-firstletter-fg: $red,
    menu-disabled-bg: $black,
    menu-disabled-fg: $white,
    menu-disabled-selected-bg: $black,
    menu-disabled-selected-fg: $gray,
    menu-toggle-button-fg: $bright-white,

    selectbox-active-bg: $blue,
    selectbox-active-fg: $light-aqua,
    selectbox-default-bg: $blue,
    selectbox-default-fg: $light-yellow,
    selectbox-selected-bg: $green,
    selectbox-selected-fg: $bright-white,
    selectbox-disabled-bg: $blue,
    selectbox-disabled-fg: $white,
    selectbox-scrollbar-bg-1: $aqua,
    selectbox-scrollbar-bg-2: $blue,
    selectbox-scrollbar-thumb-border: $blue,
    selectbox-scrollbar-thumb-bg: $aqua,
    selectbox-scrollbar-arrow-bg: $blue,
    selectbox-scrollbar-arrow-fg: $aqua,

    textbox-normal-fg: $light-aqua,
    textbox-normal-bg: $blue,
    textbox-volatile-fg: $bright-white,
    textbox-volatile-bg: $green,
    textbox-selected-fg: $bright-white,
    textbox-selected-bg: $blue,
    textbox-disabled-fg: $gray,
    textbox-disabled-bg: $white,
    textbox-scrollbar-bg-1: $blue,
    textbox-scrollbar-bg-2: $aqua,
    textbox-scrollbar-thumb-border: $blue,
    textbox-scrollbar-thumb-bg: $aqua,
    textbox-scrollbar-arrow-bg: $blue,
    textbox-scrollbar-arrow-fg: $aqua,

    scrollbar-vertical-decrement: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAKCAYAAABmBXS+AAAAAXNSR0IArs4c6QAAAD1JREFUKFNjZEAHq5b/ZwiLZEQWRuEwgBTAAJJCEhUhm4JmGsIkgoqwKUAyDWISUYowwgFVANV3OBQTpQgA9UIVC8Bjp68AAAAASUVORK5CYII=),
    scrollbar-vertical-increment: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAKCAYAAABmBXS+AAAAAXNSR0IArs4c6QAAAD9JREFUKFNjZACBVcv/g2lsICySkZF4RbhMC4sEGwIxiWhF6AqhpqCaRLQimEIkUzBNwhEKCIfjDChk3+FRBAD1QhULt999SAAAAABJRU5ErkJggg==),
    scrollbar-horizontal-decrement: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAD1JREFUKFNjZMAGVi3/zxAWyYgshcIBS4AUgQBehTBFeBUiK8KpEF0R5SbCvEeUG9EVEwweWBARpRBLJAAADBEbC/NtWlUAAAAASUVORK5CYII=),
    scrollbar-horizontal-increment: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAADpJREFUKFNjZEAGq5b/ZwiLZEQRg3JQBUEKQQCLYuwKsSjGrRBNMX6FSIqpYCKahyjwNVHhiC2koWIAJBEbCzHyaSkAAAAASUVORK5CYII=),

    form-label-bg: $white,
    form-label-fg: $black,
    form-label-firstletter-bg: $white,
    form-label-firstletter-fg: $light-yellow,
    form-label-focus-bg: $white,
    form-label-focus-fg: $bright-white,

    body-bg: $white,
    body-bg-pattern: $blue,
    header-bg: $white,
    header-fg: $black,
    footer-bg: $white,
    footer-fg: $black,
    main-bg: $white,
    article-bg: $white,
    article-fg: $black,
    article-header-fg: $bright-white,
    article-header-border: $bright-white,

    cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAQCAQAAACBg/b2AAAAEUlEQVR42mNkqGdAAYwjWwAAdWwIAQ3aViQAAAAASUVORK5CYII="),

    table-border: $black);