@use "sass:math";

@function stripUnit($value) {
    @return math.div($value, ($value * 0 + 1));
}

@function rem($pxValue) {
    @return #{stripUnit($pxValue) / stripUnit(1px)}rem;
}

@function pixel($remValue) {
    @return math.div(stripUnit($remValue), stripUnit(1px));
}

@function themed($key) {
    @return map-get($theme-map, $key);
}