@use "sass:math";


// Site Width
$site-width: 900px;
$site-width-wide: 1024px;
$site-width-narrow: 720px;
$site-width-mini: 540px;
$site-width-micro: 100%;


// Colors
$black: rgba(0, 0, 0, 1);
$blue: rgba(0, 0, 169, 1);
$green: rgba(0, 168, 0, 1);
$aqua: rgb(0, 170, 168);
$red: rgba(169, 0, 0, 1);
$purple: rgba(169, 1, 169, 1);
$yellow: rgba(168, 85, 0, 1);
$white: rgba(170, 170, 170, 1);
$gray: rgba(85, 85, 85, 1);
$light-blue: rgba(85, 84, 254, 1);
$light-green: rgba(85, 253, 85, 1);
$light-aqua: rgba(85, 255, 253, 1);
$light-red: rgba(254, 84, 84, 1);
$light-purple: rgba(254, 86, 254, 1);
$light-yellow: rgba(254, 255, 85, 1);
$bright-white: rgba(255, 255, 255, 1);


// Shadows
$shadow-black: rgba(0, 0, 0, 0.75);
$shadow-white: rgba(255, 255, 255, 0.75);


// Typography
$font-family : 'Roboto Mono',
monospace;
$text-font-weight: 400;
$text-bold-font-weight: 700;
$text-line-height: 1.5;
$text-size: 16rem;

// Themes
$themes: ();