.bg-transparent     { background-color: transparent; }
.bg-black           { background-color: $black; }
.bg-blue            { background-color: $blue; }
.bg-green           { background-color: $green; }
.bg-aqua            { background-color: $aqua; }
.bg-red             { background-color: $red; }
.bg-purple          { background-color: $purple; }
.bg-yellow          { background-color: $yellow; }
.bg-white           { background-color: $white; }
.bg-gray            { background-color: $gray; }
.bg-light_blue      { background-color: $light-blue; }
.bg-light_green     { background-color: $light-green; }
.bg-light_aqua      { background-color: $light-aqua; }
.bg-light_red       { background-color: $light-red; }
.bg-light_purple    { background-color: $light-purple; }
.bg-light_yellow    { background-color: $light-yellow; }
.bg-bright_white    { background-color: $bright-white; }

.fg-transparent     { color: transparent; }
.fg-black           { color: $black; }
.fg-blue            { color: $blue; }
.fg-green           { color: $green; }
.fg-aqua            { color: $aqua; }
.fg-red             { color: $red; }
.fg-purple          { color: $purple; }
.fg-yellow          { color: $yellow; }
.fg-white           { color: $white; }
.fg-gray            { color: $gray; }
.fg-light_blue      { color: $light-blue; }
.fg-light_green     { color: $light-green; }
.fg-light_aqua      { color: $light-aqua; }
.fg-light_red       { color: $light-red; }
.fg-light_purple    { color: $light-purple; }
.fg-light_yellow    { color: $light-yellow; }
.fg-bright_white    { color: $bright-white; }