// Variables
$font-family : 'Roboto Mono',
monospace;
$text-font-weight: 400;
$text-bold-font-weight: 700;
$text-line-height: 1.5;
$text-size: 16rem;


// Guidances
.color-box.typo {
    pre {
        &.active {
            @include themify {
                background-color: themed("text-active-bg");
                color: themed("text-active-fg");
            }
        }

        &.selected {
            @include themify {
                background-color: themed("text-selected-bg");
                color: themed("text-selected-fg");
            }
        }

        &.keyword {
            @include themify {
                background-color: themed("text-keyword-active-bg");
                color: themed("text-keyword-active-fg");
            }
        }

        &.keyword-selected {
            @include themify {
                background-color: themed("text-keyword-selected-bg");
                color: themed("text-keyword-selected-fg");
            }
        }

        &.heading {
            @include themify {
                background-color: themed("text-heading-bg");
                color: themed("text-heading-fg");
            }
        }
    }
}


// Styles
body {
    @include themify {
        background-color: themed("text-active-bg");
        color: themed("text-active-fg");
    }

    font-size: $text-size;
    font-weight: $text-font-weight;
    font-family: $font-family;
    line-height: $text-line-height;
}

h1,
h2,
h3,
h4 {
    @include themify {
        background-color: themed("text-heading-bg");
        color: themed("text-heading-fg");
        border-bottom: themed("text-heading-border") solid 7px;
    }

    font-size: 16rem;
    font-weight: $text-bold-font-weight;
    line-height: 1.2;

    margin: 12px 8px;

    display: table;

    cursor: default;
}

h1,
h2 {
    padding: 3px 8px;
}

h3,
h4 {
    padding: 10px;
}

h1 {
    text-transform: uppercase;
}

h2 {
    @include themify {
        border-top: themed("text-heading-border") solid 10px;
    }
}

h4 {
    @include themify {
        border-top: themed("text-heading-border") solid 1px;
        border-bottom: themed("text-heading-border") solid 1px;
        border-left: themed("text-heading-border") solid 2px;
        border-right: themed("text-heading-border") solid 2px;
    }
}

p {
    @include themify {
        background-color: themed("text-active-bg");
        color: themed("text-active-fg");
    }

    font-size: 16rem;
    font-weight: $text-font-weight;

    margin: 10px 0px;
}

b,
strong {
    font-weight: $text-bold-font-weight;
}

i,
em {
    font-style: italic;
}

strong,
em {
    text-decoration: underline;
}

a {

    &:link,
    &:visited {
        @include themify {
            background-color: themed("text-keyword-active-bg");
            color: themed("text-keyword-active-fg");
        }
    }

    &:focus,
    &:active {
        @include themify {
            background-color: themed("text-keyword-selected-bg");
            color: themed("text-keyword-selected-fg");
        }

        outline: none;
    }
}

address,
time {
    font-style: italic;

    display: inline-block;
}

blockquote {
    @include themify {
        background-color: themed("text-quotation-bg");
        color: themed("text-quotation-fg");
        border-left: 7px solid themed("text-quotation-border");
    }

    margin: 12px 8px;
    padding: 0px;

    display: block;

    p {
        @include themify {
            background-color: themed("text-quotation-bg");
            color: themed("text-quotation-fg");
        }

        font-style: italic;

        margin: 0px 10px;
        padding: 0px;
    }
}

::-moz-selection {
    @include themify {
        background-color: themed("text-selected-bg");
        color: themed("text-selected-fg");
    }
}

::selection {
    @include themify {
        background-color: themed("text-selected-bg");
        color: themed("text-selected-fg");
    }
}