// Variables
$html-font-size: 1px;
$font-family : 'Roboto Mono',
monospace;
$text-font-weight: 400;
$text-bold-font-weight: 700;
$text-line-height: 1.5;
$text-size: 16rem;

$text-active-bg: $aqua;
$text-active-fg: $black;
$text-selected-bg: $white;
$text-selected-fg: $black;
$text-keyword-active-bg: $aqua;
$text-keyword-active-fg: $light-yellow;
$text-keyword-selected-bg: $blue;
$text-keyword-selected-fg: $light-yellow;
$text-heading-bg: $aqua;
$text-heading-fg: $black;
$text-heading-border: $black;
$text-quotation-bg: $blue;
$text-quotation-fg: $aqua;
$text-quotation-border: $light-yellow;


// Guidances
.color-box.typo {
    pre {
        &.active {
            @include colorizeElement($text-active-bg, $text-active-fg);
        }

        &.selected {
            @include colorizeElement($text-selected-bg, $text-selected-fg);
        }

        &.keyword {
            @include colorizeElement($text-keyword-active-bg, $text-keyword-active-fg);
        }

        &.keyword-selected {
            @include colorizeElement($text-keyword-selected-bg, $text-keyword-selected-fg);
        }

        &.heading {
            @include colorizeElement($text-heading-bg, $text-heading-fg);
        }
    }
}


// Styles
html {
    font-size: $html-font-size;
    /*for using REM units*/
}

body {
    @include colorizeElement($text-active-bg, $text-active-fg);

    font-size: $text-size;
    font-weight: $text-font-weight;
    font-family: $font-family;
    line-height: $text-line-height;
}

h1,
h2,
h3,
h4 {
    @include colorizeElement($text-heading-bg, $text-heading-fg);

    font-size: 16rem;
    font-weight: $text-bold-font-weight;
    line-height: 1.2;

    margin: 12px 8px;

    border-bottom: $text-heading-border solid 7px;

    display: table;

    cursor: default;
}

h1,
h2 {
    padding: 3px 8px;
}

h3,
h4 {
    padding: 10px;
}

h1 {
    text-transform: uppercase;
}

h2 {
    border-top: $text-heading-border solid 10px;
}

h4 {
    border-top: $text-heading-border solid 1px;
    border-bottom: $text-heading-border solid 1px;
    border-left: $text-heading-border solid 2px;
    border-right: $text-heading-border solid 2px;
}

p {
    @include colorizeElement($text-active-bg, $text-active-fg);

    font-size: 16rem;
    font-weight: $text-font-weight;

    margin: 10px 0px;
}

b,
strong {
    font-weight: $text-bold-font-weight;
}

i,
em {
    font-style: italic;
}

strong,
em {
    text-decoration: underline;
}

a {

    &:link,
    &:visited {
        @include colorizeElement($text-keyword-active-bg, $text-keyword-active-fg);
    }

    &:focus,
    &:active {
        @include colorizeElement($text-keyword-selected-bg, $text-keyword-selected-fg);

        outline: none;
    }
}

address,
time {
    font-style: italic;

    display: inline-block;
}

blockquote {
    @include colorizeElement($text-quotation-bg, $text-quotation-fg);

    margin: 12px 8px;
    padding: 0px;

    display: block;

    border-left: 7px solid $text-quotation-border;

    p {
        @include colorizeElement($text-quotation-bg, $text-quotation-fg);

        font-style: italic;

        margin: 0px 10px;
        padding: 0px;
    }
}

::-moz-selection {
    @include colorizeElement($text-selected-bg, $text-selected-fg);
}

::selection {
    @include colorizeElement($text-selected-bg, $text-selected-fg);
}