// Guidances
.color-box.button {
    pre {
        &.selected {
            background-color: var(--button-selected-bg);
            color: var(--button-selected-fg);

            &::first-letter {
                background-color: var(--button-selected-letter-bg);
                color: var(--button-selected-letter-fg);
            }
        }

        &.default {
            background-color: var(--button-default-bg);
            color: var(--button-default-fg);

            &::first-letter {

                background-color: var(--button-default-letter-bg);
                color: var(--button-default-letter-fg);
            }
        }

        &.active {

            background-color: var(--button-active-bg);
            color: var(--button-active-fg);


            &::first-letter {

                background-color: var(--button-active-letter-bg);
                color: var(--button-active-letter-fg);

            }
        }

        &.disabled {

            background-color: var(--button-disabled-bg);
            color: var(--button-disabled-fg);

        }
    }
}


// Styles
button,
a.tc-btn {

    background-color: var(--button-active-bg);
    color: var(--button-active-fg);

    -webkit-box-shadow: 10px 10px 0px 0px var(--button-shadow);
    -moz-box-shadow: 10px 10px 0px 0px var(--button-shadow);
    box-shadow: 10px 10px 0px 0px var(--button-shadow);


    font-weight: $text-bold-font-weight;
    line-height: 1;

    margin: 10px;
    padding: 4px 15px 8px 15px;

    min-width: 132px;
}

a.tc-btn,
a.tc-btn:link {

    color: var(--button-active-fg);


    display: inline-block;

    text-decoration: none;

    text-align: center;
}

a.tc-btn:active,
a.tc-btn:link:active,
a.tc-btn:visited:active {

    background-color: var(--button-selected-bg);
    color: var(--button-selected-fg);

}

button:active,
a.tc-btn:active {
    margin-left: 20px;
    margin-right: 0px;


    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

}

button:disabled,
a.tc-btn.disabled {

    background-color: var(--button-disabled-bg);
    color: var(--button-disabled-fg);


    cursor: default;
}

a.tc-btn.disabled {
    pointer-events: none;
}

button.default,
a.tc-btn.default {
    background-color: var(--button-default-bg);
    color: var(--button-default-fg);
}

button:focus,
a.tc-btn:focus {
    background-color: var(--button-selected-bg);
    color: var(--button-selected-fg);
}

button:focus-visible,
a.tc-btn:focus-visible {
    outline: none;
}

button u,
a.tc-btn u {
    text-decoration: none;
}

button[accesskey] u,
a.tc-btn[accesskey] u {
    background-color: var(--button-default-letter-bg);
    color: var(--button-default-letter-fg);
}