// Variables
$button-selected-fg: $bright-white;
$button-selected-bg: $green;
$button-selected-letter-fg: $light-yellow;
$button-selected-letter-bg: $green;
$button-default-fg: $light-aqua;
$button-default-bg: $green;
$button-default-letter-fg: $light-yellow;
$button-default-letter-bg: $green;
$button-active-fg: $black;
$button-active-bg: $green;
$button-active-letter-fg: $light-yellow;
$button-active-letter-bg: $green;
$button-disabled-fg: $gray;
$button-disabled-bg: $white;
$button-shadow: $shadow-black;


// Guidances
.color-box.button {
    pre {
        &.selected {
            @include colorizeElement($button-selected-bg, $button-selected-fg);

            &::first-letter {
                @include colorizeElement($button-selected-letter-bg, $button-selected-letter-fg);
            }
        }

        &.default {
            @include colorizeElement($button-default-bg, $button-default-fg);

            &::first-letter {
                @include colorizeElement($button-default-letter-bg, $button-default-letter-fg);
            }
        }

        &.active {
            @include colorizeElement($button-active-bg, $button-active-fg);

            &::first-letter {
                @include colorizeElement($button-active-letter-bg, $button-active-letter-fg);
            }
        }

        &.disabled {
            @include colorizeElement($button-disabled-bg, $button-disabled-fg);
        }
    }
}


// Styles
button,
a.tc-btn {
    @include colorizeElement($button-active-bg, $button-active-fg);

    font-weight: $text-bold-font-weight;
    line-height: 1;

    margin: 10px;
    padding: 4px 15px 8px 15px;
    min-width: 132px;

    -webkit-box-shadow: 10px 10px 0px 0px $button-shadow;
    -moz-box-shadow: 10px 10px 0px 0px $button-shadow;
    box-shadow: 10px 10px 0px 0px $button-shadow;
}

a.tc-btn,
a.tc-btn:link {
    display: inline-block;

    text-decoration: none;

    color: $button-active-fg;

    text-align: center;
}

a.tc-btn:active,
a.tc-btn:link:active,
a.tc-btn:visited:active {
    @include colorizeElement($button-selected-bg, $button-selected-fg);
}

button:active,
a.tc-btn:active {
    margin-left: 20px;
    margin-right: 0px;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

button:disabled,
a.tc-btn.disabled {
    @include colorizeElement($button-disabled-bg, $button-disabled-fg);

    cursor: default;
}

a.tc-btn.disabled {
    pointer-events: none;
}

button.default,
a.tc-btn.default {
    @include colorizeElement($button-default-bg, $button-default-fg);
}

button:focus,
a.tc-btn:focus {
    @include colorizeElement($button-selected-bg, $button-selected-fg);
}

button:focus-visible,
a.tc-btn:focus-visible {
    outline: none;
}

button u,
a.tc-btn u {
    text-decoration: none;
}

button[accesskey] u,
a.tc-btn[accesskey] u {
    @include colorizeElement($button-default-letter-bg, $button-default-letter-fg);
}