// Guidances
.color-box.button {
    pre {
        &.selected {
            @include themify {
                background-color: themed("button-selected-bg");
                color: themed("button-selected-fg");
            }

            &::first-letter {
                @include themify {
                    background-color: themed("button-selected-letter-bg");
                    color: themed("button-selected-letter-fg");
                }
            }
        }

        &.default {
            @include themify {
                background-color: themed("button-default-bg");
                color: themed("button-default-fg");
            }

            &::first-letter {
                @include themify {
                    background-color: themed("button-default-letter-bg");
                    color: themed("button-default-letter-fg");
                }
            }
        }

        &.active {
            @include themify {
                background-color: themed("button-active-bg");
                color: themed("button-active-fg");
            }

            &::first-letter {
                @include themify {
                    background-color: themed("button-active-letter-bg");
                    color: themed("button-active-letter-fg");
                }
            }
        }

        &.disabled {
            @include themify {
                background-color: themed("button-disabled-bg");
                color: themed("button-disabled-fg");
            }
        }
    }
}


// Styles
button,
a.tc-btn {
    @include themify {
        background-color: themed("button-active-bg");
        color: themed("button-active-fg");

        -webkit-box-shadow: 10px 10px 0px 0px themed("button-shadow");
        -moz-box-shadow: 10px 10px 0px 0px themed("button-shadow");
        box-shadow: 10px 10px 0px 0px themed("button-shadow");
    }

    font-weight: $text-bold-font-weight;
    line-height: 1;

    margin: 10px;
    padding: 4px 15px 8px 15px;

    min-width: 132px;
}

a.tc-btn,
a.tc-btn:link {
    @include themify {
        color: themed("button-active-fg");
    }

    display: inline-block;

    text-decoration: none;

    text-align: center;
}

a.tc-btn:active,
a.tc-btn:link:active,
a.tc-btn:visited:active {
    @include themify {
        background-color: themed("button-selected-bg");
        color: themed("button-selected-fg");
    }
}

button:active,
a.tc-btn:active {
    margin-left: 20px;
    margin-right: 0px;

    @include themify {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}

button:disabled,
a.tc-btn.disabled {
    @include themify {
        background-color: themed("button-disabled-bg");
        color: themed("button-disabled-fg");
    }

    cursor: default;
}

a.tc-btn.disabled {
    pointer-events: none;
}

button.default,
a.tc-btn.default {
    @include themify {
        background-color: themed("button-default-bg");
        color: themed("button-default-fg");
    }
}

button:focus,
a.tc-btn:focus {
    @include themify {
        background-color: themed("button-selected-bg");
        color: themed("button-selected-fg");
    }
}

button:focus-visible,
a.tc-btn:focus-visible {
    outline: none;
}

button u,
a.tc-btn u {
    text-decoration: none;
}

button[accesskey] u,
a.tc-btn[accesskey] u {
    @include themify {
        background-color: themed("button-default-letter-bg");
        color: themed("button-default-letter-fg");
    }
}