// Guidances
.color-box.checkbox {
    pre {
        &.active {
            background-color: var(--checkbox-active-bg);
            color: var(--checkbox-active-fg);

            &::first-letter {
                background-color: var(--checkbox-active-firstletter-bg);
                color: var(--checkbox-active-firstletter-fg);
            }
        }

        &.selected {
            background-color: var(--checkbox-selected-bg);
            color: var(--checkbox-selected-fg);

            &::first-letter {
                background-color: var(--checkbox-selected-firstletter-bg);
                color: var(--checkbox-selected-firstletter-fg);
            }
        }

        &.disabled {
            background-color: var(--checkbox-disabled-bg);
            color: var(--checkbox-disabled-fg);

            &::first-letter {
                background-color: var(--checkbox-disabled-bg);
                color: var(--checkbox-disabled-fg);
            }
        }
    }
}


// Styles
input[type=checkbox],
input[type=radio] {
    line-height: 1.1;

    width: 30px;

    &::after {
        background-color: var(--checkbox-active-bg);
        color: var(--checkbox-active-fg);

        font-weight: $text-bold-font-weight;
        line-height: 1.1;

        width: 30px;
        margin: -2px -3px;

        display: inline-block;

        cursor: pointer;
    }

    +label {
        background-color: var(--checkbox-active-bg);
        color: var(--checkbox-active-fg);

        line-height: 1.1;
        font-weight: $text-bold-font-weight;

        margin-bottom: 0px;
        margin-left: -7px;

        display: inline-block;
        vertical-align: middle;

        cursor: pointer;

        &[for]::first-letter {
            background-color: var(--checkbox-active-firstletter-bg);
            color: var(--checkbox-active-firstletter-fg);
        }
    }
}

input[type=checkbox]::after {
    content: "[ ]";
}

input[type=checkbox]:checked::after {
    content: "[X]";
}

input[type=radio]::after {
    content: "( )";
}

input[type=radio]:checked::after {
    content: "(●)";

    letter-spacing: 0.4rem;
}

input[type=radio]+label {
    vertical-align: bottom;
}

input[type=checkbox]+label:active,
input[type=checkbox]:active+label,
input[type=checkbox]:focus+label,
input[type=radio]+label:active,
input[type=radio]:active+label,
input[type=radio]:focus+label {
    background-color: var(--checkbox-selected-bg);
    color: var(--checkbox-selected-fg);
}

input[type=checkbox]+label:active::first-letter,
input[type=checkbox]:active+label::first-letter,
input[type=checkbox]:focus+label::first-letter,
input[type=radio]+label:active::first-letter,
input[type=radio]:active+label::first-letter,
input[type=radio]:focus+label::first-letter {
    background-color: var(--checkbox-selected-firstletter-bg);
    color: var(--checkbox-selected-firstletter-fg);
}

input[type=checkbox]:active::after,
input[type=checkbox]:focus::after,
input[type=radio]:active::after,
input[type=radio]:focus::after {
    background-color: var(--checkbox-selected-bg);
    color: var(--checkbox-selected-fg);
}

input[type=checkbox]:disabled,
input[type=checkbox]:disabled::after,
input[type=checkbox]:disabled+label,
input[type=checkbox]:disabled+label::first-letter,
input[type=radio]:disabled,
input[type=radio]:disabled::after,
input[type=radio]:disabled+label,
input[type=radio]:disabled+label::first-letter {
    background-color: var(--checkbox-disabled-bg);
    color: var(--checkbox-disabled-fg);

    font-weight: $text-bold-font-weight;
    cursor: default;
}