// Styles
ol,
ul {
    list-style-position: inside;

    padding-left: 16px;

    display: block;

    li {
        display: list-item;

        &::before {
            content: "";
            display: inline-block;
            margin-left: -8px;

            @include firefox-only {
                margin-left: 0px;
            }
        }
    }
}

ol {
    list-style-type: decimal;
}

ul {
    list-style-type: square;
}

img {
    max-width: 100%;

    margin: 5px auto;

    display: block;
}

hr {
    border: 2px solid var(--horizontal-line-border);

    margin: 5px auto;

    display: block;
}

.notification-box {
    border: double 4px var(--message-box-border);

    font-weight: $text-bold-font-weight;

    margin: 12px 8px;
    padding: 5px 10px;

    display: block;
}

div.info-box {
    @extend .notification-box;

    background-color: var(--message-box-info-bg);
    color: var(--message-box-info-fg);
}

div.warn-box {
    @extend .notification-box;

    background-color: var(--message-box-warn-bg);
    color: var(--message-box-warn-fg);
}

div.notice-box {
    @extend .notification-box;

    background-color: var(--message-box-notice-bg);
    color: var(--message-box-notice-fg);
}

div.error-box {
    @extend .notification-box;

    background-color: var(--message-box-error-bg);
    color: var(--message-box-error-fg);
}