// Variables
$horizontal-line-border: $black;
$message-box-border: $bright-white;
$message-box-info-bg: $blue;
$message-box-info-fg: $aqua;
$message-box-warn-bg: $blue;
$message-box-warn-fg: $light-yellow;
$message-box-notice-bg: $blue;
$message-box-notice-fg: $light-aqua;
$message-box-error-bg: $blue;
$message-box-error-fg: $light-red;


// Styles
ol,
ul {
    list-style-position: inside;

    padding-left: 16px;

    display: block;

    li {
        display: list-item;

        &::before {
            content: "";
            display: inline-block;
            margin-left: -8px;
        }
    }
}

ol {
    list-style-type: decimal;
}

ul {
    list-style-type: square;
}

img {
    max-width: 100%;

    margin: 5px auto;

    display: block;
}

hr {
    margin: 5px auto;

    display: block;

    border: 2px solid $horizontal-line-border;
}

.notification-box {
    font-weight: $text-bold-font-weight;

    margin: 12px 8px;
    padding: 5px 10px;

    display: block;

    border: double 4px $message-box-border;
}

div.info-box {
    @extend .notification-box;
    @include colorizeElement($message-box-info-bg, $message-box-info-fg);
}

div.warn-box {
    @extend .notification-box;
    @include colorizeElement($message-box-warn-bg, $message-box-warn-fg);
}

div.notice-box {
    @extend .notification-box;
    @include colorizeElement($message-box-notice-bg, $message-box-notice-fg);
}

div.error-box {
    @extend .notification-box;
    @include colorizeElement($message-box-error-bg, $message-box-error-fg);
}