// Styles
ol,
ul {
    list-style-position: inside;

    padding-left: 16px;

    display: block;

    li {
        display: list-item;

        &::before {
            content: "";
            display: inline-block;
            margin-left: -8px;
        }

        &::before {
            @include firefox-only {
                margin-left: 0px;
            }
        }
    }
}

ol {
    list-style-type: decimal;
}

ul {
    list-style-type: square;
}

img {
    max-width: 100%;

    margin: 5px auto;

    display: block;
}

hr {
    @include themify {
        border: 2px solid themed("$horizontal-line-border");
    }

    margin: 5px auto;

    display: block;
}

.notification-box {
    @include themify {
        border: double 4px themed("message-box-border");
    }

    font-weight: $text-bold-font-weight;

    margin: 12px 8px;
    padding: 5px 10px;

    display: block;
}

div.info-box {
    @extend .notification-box;

    @include themify {
        background-color: themed("message-box-info-bg");
        color: themed("message-box-info-fg");
    }
}

div.warn-box {
    @extend .notification-box;

    @include themify {
        background-color: themed("message-box-warn-bg");
        color: themed("message-box-warn-fg");
    }
}

div.notice-box {
    @extend .notification-box;

    @include themify {
        background-color: themed("message-box-notice-bg");
        color: themed("message-box-notice-fg");
    }
}

div.error-box {
    @extend .notification-box;

    @include themify {
        background-color: themed("message-box-error-bg");
        color: themed("message-box-error-fg");
    }
}