// Variables
$dialog-width: $site-width * 0.5;
$dialog-large-width: $site-width * 0.75;

// Guidances
.color-box.dialog-guide {
    pre {
        &.title {
            @include themify {
                background-color: themed("dialog-title-bg");
                color: themed("dialog-title-fg");
            }
        }

        &.text {
            @include themify {
                background-color: themed("dialog-text-bg");
                color: themed("dialog-text-fg");
            }
        }

        &.icon {
            @include themify {
                background-color: themed("dialog-icon-bg");
                color: themed("dialog-icon-fg");
            }
        }
    }
}


// Styles
div.dialog {
    background-color: transparent;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: none;

    div.dialog-box {
        @include themify {
            background-color: themed("dialog-text-bg");
            color: themed("dialog-text-fg");

            -webkit-box-shadow: 16px 16px 0px 0px themed("dialog-shadow");
            -moz-box-shadow: 16px 16px 0px 0px themed("dialog-shadow");
            box-shadow: 16px 16px 0px 0px themed("dialog-shadow");
        }

        position: relative;

        margin: 100px auto;
        padding: 5px 1px 8px 2px;

        display: block;

        width: $dialog-width;

        div.dialog-content {
            @include themify {
                background-color: themed("dialog-text-bg");
                color: themed("dialog-text-fg");

                border: 4px double themed("dialog-border");
            }

            padding: 21px 17px;

            .reset-dialog-content {
                width: 100%;
                min-height: inherit;
                height: inherit;

                margin: 0px;
                padding: 0px;
            }

            header {
                @extend .reset-dialog-content;
            }

            main {
                @extend .reset-dialog-content;

                @include themify {
                    background-color: themed("dialog-text-bg");
                    color: themed("dialog-text-fg");
                }

                >p {
                    @include themify {
                        background-color: themed("dialog-text-bg");
                        color: themed("dialog-text-fg");
                    }
                }

                label,
                label::first-letter {
                    @include themify {
                        background-color: themed("dialog-text-bg");
                    }
                }
            }

            footer {
                @extend .reset-dialog-content;

                @include themify {
                    background-color: themed("dialog-text-bg");
                    color: themed("dialog-text-fg");
                }

                text-align: center;
            }

            >header {
                display: inline;
                position: absolute;
                top: 0px;
                left: 0px;
                margin: 0px;
                padding: 0px;
                width: 100%;
                height: inherit;
                line-height: 1;
                text-align: center;
                background-color: transparent;

                >span {
                    @include themify {
                        background-color: themed("dialog-title-bg");
                        color: themed("dialog-title-fg");
                    }

                    line-height: 1;
                    text-transform: capitalize;

                    padding: 0px 8px;
                    margin: 0px;

                    display: inline-block;

                    border: none;
                }
            }
        }
    }

    &.large {
        div.dialog-box {
            width: $dialog-large-width;
        }
    }
}