// Guidances
.color-box.dialog-guide {
    pre {
        &.title {
            background-color: var(--dialog-title-bg);
            color: var(--dialog-title-fg);
        }

        &.text {
            background-color: var(--dialog-text-bg);
            color: var(--dialog-text-fg);
        }

        &.icon {
            background-color: var(--dialog-icon-bg);
            color: var(--dialog-icon-fg);
        }
    }
}


// Styles
div.dialog {
    background-color: transparent;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: none;

    div.dialog-box {
        background-color: var(--dialog-text-bg);
        color: var(--dialog-text-fg);

        -webkit-box-shadow: 16px 16px 0px 0px var(--dialog-shadow);
        -moz-box-shadow: 16px 16px 0px 0px var(--dialog-shadow);
        box-shadow: 16px 16px 0px 0px var(--dialog-shadow);

        position: relative;

        margin: 100px auto;
        padding: 5px 1px 8px 2px;

        display: block;

        width: var(--dialog-width);

        div.dialog-content {
            background-color: var(--dialog-text-bg);
            color: var(--dialog-text-fg);

            border: 4px double var(--dialog-border);

            padding: 21px 17px;

            .reset-dialog-content {
                width: 100%;
                min-height: inherit;
                height: inherit;

                margin: 0px;
                padding: 0px;
            }

            
            input[type=checkbox]::after, 
            input[type=radio]::after {
                background-color: var(--dialog-text-bg);
            }

            header {
                @extend .reset-dialog-content;
            }

            main {
                @extend .reset-dialog-content;

                background-color: var(--dialog-text-bg);
                color: var(--dialog-text-fg);

                >p {
                    background-color: var(--dialog-text-bg);
                    color: var(--dialog-text-fg);
                }

                label,
                label::first-letter {
                    background-color: var(--dialog-text-bg);
                }
            }

            footer {
                @extend .reset-dialog-content;

                background-color: var(--dialog-text-bg);
                color: var(--dialog-text-fg);

                text-align: center;
            }

            >header {
                display: inline;
                position: absolute;
                top: 0px;
                left: 0px;
                margin: 0px;
                padding: 0px;
                width: 100%;
                height: inherit;
                line-height: 1;
                text-align: center;
                background-color: transparent;

                >span {
                    background-color: var(--dialog-title-bg);
                    color: var(--dialog-title-fg);

                    line-height: 1;
                    text-transform: capitalize;

                    padding: 0px 8px;
                    margin: 0px;

                    display: inline-block;

                    border: none;
                }
            }
        }
    }

    &.large {
        div.dialog-box {
            width: var(--dialog-large-width);
        }
    }
}