// Variables
$dialog-width: $site-width * 0.5;
$dialog-large-width: $site-width * 0.75;

$dialog-border: $bright-white;
$dialog-title-bg: $white;
$dialog-title-fg: $bright-white;
$dialog-text-bg: $white;
$dialog-text-fg: $black;
$dialog-icon-bg: $white;
$dialog-icon-fg: $light-green;
$dialog-shadow: $shadow-black;


// Guidances
.color-box.dialog-guide {
    pre {
        &.title {
            @include colorizeElement($dialog-title-bg, $dialog-title-fg);
        }

        &.text {
            @include colorizeElement($dialog-text-bg, $dialog-text-fg);
        }

        &.icon {
            @include colorizeElement($dialog-icon-bg, $dialog-icon-fg);
        }
    }
}


// Styles
div.dialog {
    background-color: transparent;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: none;

    div.dialog-box {
        @include colorizeElement($dialog-text-bg, $dialog-text-fg);

        position: relative;

        margin: 100px auto;
        padding: 5px 1px 8px 2px;

        display: block;

        width: $dialog-width;

        -webkit-box-shadow: 16px 16px 0px 0px $dialog-shadow;
        -moz-box-shadow: 16px 16px 0px 0px $dialog-shadow;
        box-shadow: 16px 16px 0px 0px $dialog-shadow;

        div.dialog-content {
            @include colorizeElement($dialog-text-bg, $dialog-text-fg);

            padding: 21px 17px;

            border: 4px double $dialog-border;

            .reset-dialog-content {
                width: 100%;
                min-height: inherit;
                height: inherit;

                margin: 0px;
                padding: 0px;
            }

            header {
                @extend .reset-dialog-content;
            }

            main {
                @extend .reset-dialog-content;
                @include colorizeElement($dialog-text-bg, $dialog-text-fg);

                >p {
                    @include colorizeElement($dialog-text-bg, $dialog-text-fg);
                }

                label,
                label::first-letter {
                    background-color: $dialog-text-bg;
                }
            }

            footer {
                @extend .reset-dialog-content;
                @include colorizeElement($dialog-text-bg, $dialog-text-fg);

                text-align: center;
            }

            >header {
                display: inline;
                position: absolute;
                top: 0px;
                left: 0px;
                margin: 0px;
                padding: 0px;
                width: 100%;
                height: inherit;
                line-height: 1;
                text-align: center;
                background-color: transparent;

                >span {
                    @include colorizeElement($dialog-title-bg, $dialog-title-fg);

                    line-height: 1;
                    text-transform: capitalize;

                    padding: 0px 8px;
                    margin: 0px;

                    display: inline-block;

                    border: none;
                }
            }
        }
    }

    &.large {
        div.dialog-box {
            width: $dialog-large-width;
        }
    }
}