.color-box {
    @include themify {
        background-color: themed("white");
        color: themed("black");
    }

    margin: 0px 10px 0px 10px;
    display: inline-block;
}

.color-box pre {
    padding: 0px;
    margin: 0px;
    font-weight: 700;
}