// Guidances
.color-box.menu {
    pre {
        &.normal {
            @include themify {
                background-color: themed("menu-normal-bg");
                color: themed("menu-normal-fg");
            }

            &.firstletter {
                @include themify {
                    background-color: themed("menu-normal-firstletter-bg");
                    color: themed("menu-normal-firstletter-fg");
                }
            }
        }

        &.selected {
            @include themify {
                background-color: themed("menu-selected-bg");
                color: themed("menu-selected-fg");
            }

            &.firstletter {
                @include themify {
                    background-color: themed("menu-selected-firstletter-bg");
                    color: themed("menu-selected-firstletter-fg");
                }
            }
        }

        &.disabled {
            @include themify {
                background-color: themed("menu-disabled-bg");
                color: themed("menu-disabled-fg");
            }

            &.selected {
                @include themify {
                    background-color: themed("menu-disabled-selected-bg");
                    color: themed("menu-disabled-selected-fg");
                }
            }
        }
    }
}


// Styles
nav {
    @include themify {
        background-color: themed("menu-bg");
    }

    width: $site-width;

    margin: 0px auto;

    ul {
        padding: 0px;
        margin: 0px;

        list-style: none;

        display: table;

        li {
            padding: 0px;

            display: inline-block;

            &::before {
                display: none;
            }

            a:link,
            a:visited,
            a:hover {
                @include themify {
                    background-color: themed("menu-normal-bg");
                    color: themed("menu-normal-fg");
                }

                font-weight: $text-bold-font-weight;

                padding: 0px 9px;

                display: block;

                &::first-letter {
                    @include themify {
                        background-color: themed("menu-normal-firstletter-bg");
                        color: themed("menu-normal-firstletter-fg");
                    }
                }
            }

            a:focus,
            a:active,
            a:hover {
                @include themify {
                    background-color: themed("menu-selected-bg");
                    color: themed("menu-selected-fg");
                }

                &::first-letter {
                    @include themify {
                        background-color: themed("menu-selected-firstletter-bg");
                        color: themed("menu-selected-firstletter-fg");
                    }
                }
            }

            &.disabled {

                a:link,
                a:visited,
                a:hover,
                a:link::first-letter,
                a:visited::first-letter,
                a:hover::first-letter {
                    @include themify {
                        background-color: themed("menu-disabled-bg");
                        color: themed("menu-disabled-fg");
                    }

                    cursor: default;
                }

                a:focus,
                a:active,
                a:hover,
                a:focus::first-letter,
                a:active::first-letter,
                a:hover::first-letter {
                    @include themify {
                        background-color: themed("menu-disabled-selected-bg");
                        color: themed("menu-disabled-selected-fg");
                    }

                    cursor: default;
                }
            }

            div.sub-menu {

                @include themify {
                    background-color: themed("menu-bg");
                }

                margin: 0px;
                padding: 7px 11px;

                display: none;

                position: absolute;

                z-index: 2;

                ul {
                    padding-bottom: 7px;
                    padding-top: 8px;

                    @include themify {
                        border: 2px solid themed("menu-border");
                    }

                    border-top-width: 1px;
                    border-bottom-width: 1px;

                    li {
                        margin: 0px 3px;

                        display: block;

                        &[role=separator] {
                            width: 100%;

                            margin: 7px 0px 8px 0px;

                            @include themify {
                                border-bottom: 1px solid themed("menu-border");
                            }
                        }

                        a {
                            margin: 0px;
                            padding: 3px 8px;

                            min-width: 150px;
                        }
                    }
                }
            }
        }
    }
}