// Variables
$menu-bg: $white;
$menu-border: $black;
$menu-normal-bg: $white;
$menu-normal-fg: $black;
$menu-normal-firstletter-bg: $white;
$menu-normal-firstletter-fg: $red;
$menu-selected-bg: $green;
$menu-selected-fg: $black;
$menu-selected-firstletter-bg: $green;
$menu-selected-firstletter-fg: $red;
$menu-disabled-bg: $white;
$menu-disabled-fg: $gray;
$menu-disabled-selected-bg: $black;
$menu-disabled-selected-fg: $menu-disabled-fg;


// Guidances
.color-box.menu {
    pre {
        &.normal {
            @include colorizeElement($menu-normal-bg, $menu-normal-fg);

            &.firstletter {
                @include colorizeElement($menu-normal-firstletter-bg, $menu-normal-firstletter-fg);
            }
        }

        &.selected {
            @include colorizeElement($menu-selected-bg, $menu-selected-fg);

            &.firstletter {
                @include colorizeElement($menu-selected-firstletter-bg, $menu-selected-firstletter-fg);
            }
        }

        &.disabled {
            @include colorizeElement($menu-disabled-bg, $menu-disabled-fg);

            &.selected {
                @include colorizeElement($menu-disabled-selected-bg, $menu-disabled-selected-fg);
            }
        }
    }
}


// Styles
nav {
    background-color: $menu-bg;

    width: $site-width;

    margin: 0px auto;

    ul {
        padding: 0px;
        margin: 0px;

        list-style: none;

        display: table;

        li {
            padding: 0px;

            display: inline-block;

            &::before {
                display: none;
            }

            a:link,
            a:visited,
            a:hover {
                @include colorizeElement($menu-normal-bg, $menu-normal-fg);
                font-weight: $text-bold-font-weight;

                padding: 0px 9px;

                display: block;

                &::first-letter {
                    @include colorizeElement($menu-normal-firstletter-bg, $menu-normal-firstletter-fg);
                }
            }

            a:focus,
            a:active,
            a:hover {
                @include colorizeElement($menu-selected-bg, $menu-selected-fg);

                &::first-letter {
                    @include colorizeElement($menu-selected-firstletter-bg, $menu-selected-firstletter-fg);
                }
            }

            &.disabled {

                a:link,
                a:visited,
                a:hover,
                a:link::first-letter,
                a:visited::first-letter,
                a:hover::first-letter {
                    @include colorizeElement($menu-disabled-bg, $menu-disabled-fg);

                    cursor: default;
                }

                a:focus,
                a:active,
                a:hover,
                a:focus::first-letter,
                a:active::first-letter,
                a:hover::first-letter {
                    @include colorizeElement($menu-disabled-selected-bg, $menu-disabled-selected-fg);

                    cursor: default;
                }
            }

            div.sub-menu {

                background-color: $menu-bg;

                margin: 0px;
                padding: 7px 11px;

                display: none;

                position: absolute;

                z-index: 2;

                ul {
                    padding-bottom: 7px;
                    padding-top: 8px;

                    border: 2px solid $menu-border;
                    border-top-width: 1px;
                    border-bottom-width: 1px;

                    li {
                        margin: 0px 3px;

                        display: block;

                        &[role=separator] {
                            width: 100%;

                            margin: 7px 0px 8px 0px;

                            border-bottom: 1px solid $menu-border;
                        }

                        a {
                            margin: 0px;
                            padding: 3px 8px;

                            min-width: 150px;
                        }
                    }
                }
            }
        }
    }
}