// Guidances
.color-box.selectbox {
    pre {
        &.color-box.selectbox pre.active {
            @include themify {
                background-color: themed("selectbox-active-bg");
                color: themed("selectbox-active-fg");
            }
        }

        &.default {
            @include themify {
                background-color: themed("selectbox-default-bg");
                color: themed("selectbox-default-fg");
            }
        }

        &.selected {
            @include themify {
                background-color: themed("selectbox-selected-bg");
                color: themed("selectbox-selected-fg");
            }
        }

        &.disabled {
            @include themify {
                background-color: themed("selectbox-disabled-bg");
                color: themed("selectbox-disabled-fg");
            }
        }
    }
}


// Styles
select {
    line-height: 1.1;

    @include themify {
        background-color: themed("selectbox-scrollbar-arrow-bg");
    }

    border: none;

    outline: none;

    option {
        @include themify {
            background-color: themed("selectbox-active-bg");
            color: themed("selectbox-active-fg");
        }

        font-weight: $text-bold-font-weight;
        line-height: 1.1;

        cursor: pointer;

        &:checked {
            @include themify {
                background: themed("selectbox-default-bg") linear-gradient(0deg, themed("selectbox-default-bg") 0%, themed("selectbox-default-bg") 100%);
                color: themed("selectbox-default-fg");
            }
        }

        &:disabled {
            @include themify {
                background: themed("selectbox-disabled-bg") linear-gradient(0deg, themed("selectbox-disabled-bg") 0%, themed("selectbox-disabled-bg") 100%);
                color: themed("selectbox-disabled-fg");
            }

            cursor: default;
        }
    }

    &:focus option:checked {
        @include themify {
            background: themed("selectbox-selected-bg") linear-gradient(0deg, themed("selectbox-selected-bg") 0%, themed("selectbox-selected-bg") 100%);
            color: themed("selectbox-selected-fg");
        }
    }

    &:disabled {
        overflow: hidden;

        option {
            @include themify {
                background: themed("selectbox-disabled-bg") linear-gradient(0deg, themed("selectbox-disabled-bg") 0%, themed("selectbox-disabled-bg") 100%);
                color: themed("selectbox-disabled-fg");
            }

            cursor: default;
        }
    }

    &::-webkit-scrollbar {
        width: 16rem;
    }

    &::-webkit-scrollbar-track {
        @include themify {
            background-color: themed("selectbox-scrollbar-bg-1");
            background-image: repeating-linear-gradient(45deg, themed("selectbox-scrollbar-bg-2") 25%, transparent 25%, transparent 75%, themed("selectbox-scrollbar-bg-2") 75%, themed("selectbox-scrollbar-bg-2")), repeating-linear-gradient(45deg, themed("selectbox-scrollbar-bg-2") 25%, themed("selectbox-scrollbar-bg-1") 25%, themed("selectbox-scrollbar-bg-1") 75%, themed("selectbox-scrollbar-bg-2") 75%, themed("selectbox-scrollbar-bg-2"));
        }

        opacity: 1;
        background-position: 0 0,
        2px 2px;
        background-size: 4px 4px;
    }

    &::-webkit-scrollbar-thumb {
        @include themify {
            background-color: themed("selectbox-scrollbar-thumb-bg");
            border: themed("selectbox-scrollbar-thumb-border") solid 4px;
        }
    }

    &::-webkit-scrollbar-button:vertical {
        height: 16px;
        width: 8px;
    }

    &::-webkit-scrollbar-button:vertical:decrement {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAKCAYAAABmBXS+AAAAAXNSR0IArs4c6QAAAD1JREFUKFNjZEAHq5b/ZwiLZEQWRuEwgBTAAJJCEhUhm4JmGsIkgoqwKUAyDWISUYowwgFVANV3OBQTpQgA9UIVC8Bjp68AAAAASUVORK5CYII=);
        background-repeat: no-repeat;
        background-position-x: 4px;
        background-position-y: 2px;
        background-size: 8px 16px;
    }

    &::-webkit-scrollbar-button:vertical:increment {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAKCAYAAABmBXS+AAAAAXNSR0IArs4c6QAAAD9JREFUKFNjZACBVcv/g2lsICySkZF4RbhMC4sEGwIxiWhF6AqhpqCaRLQimEIkUzBNwhEKCIfjDChk3+FRBAD1QhULt999SAAAAABJRU5ErkJggg==);
        background-repeat: no-repeat;
        background-position-x: 4px;
        background-position-y: 3px;
        background-size: 8px 16px;
    }
}