// Variables
$textbox-normal-fg: $light-aqua;
$textbox-normal-bg: $blue;
$textbox-volatile-fg: $bright-white;
$textbox-volatile-bg: $green;
$textbox-selected-fg: $bright-white;
$textbox-selected-bg: $blue;
$textbox-disabled-fg: $gray;
$textbox-disabled-bg: $white;
$textbox-scrollbar-bg-1: $blue;
$textbox-scrollbar-bg-2: $aqua;
$textbox-scrollbar-thumb-border: $blue;
$textbox-scrollbar-thumb-bg: $aqua;
$textbox-scrollbar-arrow-bg: $blue;
$textbox-scrollbar-arrow-fg: $aqua;


@if $darkMode==true {
    $textbox-normal-fg: $light-aqua;
    $textbox-normal-bg: $gray;

    $textbox-volatile-fg: $bright-white;
    $textbox-volatile-bg: $black;

    $textbox-selected-fg: $bright-white;
    $textbox-selected-bg: $gray;

    $textbox-disabled-fg: $gray;
    $textbox-disabled-bg: $white;

    $textbox-scrollbar-bg-1: $black;
    $textbox-scrollbar-bg-2: $gray;

    $textbox-scrollbar-thumb-border: $gray;
    $textbox-scrollbar-thumb-bg: $aqua;
    $textbox-scrollbar-arrow-bg: $gray;
    $textbox-scrollbar-arrow-fg: $aqua;
}


// Guidances
.color-box.textbox {
    pre {
        &.normal {
            @include colorbox($textbox-normal-bg, $textbox-normal-fg);
        }

        &.volatile {
            @include colorbox($textbox-volatile-bg, $textbox-volatile-fg);
        }

        &.selected {
            @include colorbox($textbox-selected-bg, $textbox-selected-fg);
        }

        &.disabled {
            @include colorbox($textbox-disabled-bg, $textbox-disabled-fg);
        }
    }
}


.text-field {
    color: $textbox-normal-fg;
    font-weight: $text-bold-font-weight;
    line-height: 1.1;

    background-color: $textbox-normal-bg;

    border: none;

    outline: none;

    padding: 3px 8px;

    margin: 3px 0px;

    &:focus {
        color: $textbox-selected-fg;
        background-color: $textbox-selected-bg;
    }

    &::-moz-selection {
        color: $textbox-volatile-fg;
        background-color: $textbox-volatile-bg;
    }

    &::selection {
        color: $textbox-volatile-fg;
        background-color: $textbox-volatile-bg;
    }

    &:disabled {
        color: $textbox-disabled-fg;
        background-color: $textbox-disabled-bg;

        &::-moz-selection {
            color: $textbox-disabled-fg;
            background-color: $textbox-disabled-bg;
        }

        &::selection {
            color: $textbox-disabled-fg;
            background-color: $textbox-disabled-bg;
        }
    }
}

// Styles
input[type=text],
input[type=password],
input[type=email],
input[type=tel],
input[type=number] {
    @extend .text-field;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;

    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

textarea {
    @extend .text-field;

    background-color: $textbox-scrollbar-arrow-bg;

    min-height: 150px;

    resize: none;

    &::-webkit-scrollbar {
        width: 16rem;
        height: 16rem;
    }

    &::-webkit-scrollbar-track {
        background-color: $textbox-scrollbar-bg-2;
        opacity: 1;
        background-image: repeating-linear-gradient(45deg, $textbox-scrollbar-bg-1 25%, transparent 25%, transparent 75%, $textbox-scrollbar-bg-1 75%, $textbox-scrollbar-bg-1), repeating-linear-gradient(45deg, $textbox-scrollbar-bg-1 25%, $textbox-scrollbar-bg-2 25%, $textbox-scrollbar-bg-2 75%, $textbox-scrollbar-bg-1 75%, $textbox-scrollbar-bg-1);
        background-position: 0 0, 2px 2px;
        background-size: 4px 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $textbox-scrollbar-thumb-bg;

        border: $textbox-scrollbar-thumb-border solid 4px;
    }

    &::-webkit-scrollbar-button {
        height: 16px;
        width: 16px;
    }

    &::-webkit-scrollbar-corner {
        background-color: $textbox-scrollbar-arrow-bg;
    }

    @if $textbox-scrollbar-arrow-fg==$aqua {
        &::-webkit-scrollbar-button:vertical:decrement {
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAKCAYAAABmBXS+AAAAAXNSR0IArs4c6QAAAD1JREFUKFNjZEAHq5b/ZwiLZEQWRuEwgBTAAJJCEhUhm4JmGsIkgoqwKUAyDWISUYowwgFVANV3OBQTpQgA9UIVC8Bjp68AAAAASUVORK5CYII=);
            background-repeat: no-repeat;
            background-position-x: 4px;
            background-position-y: 2px;
            background-size: 8px 16px;
        }

        &::-webkit-scrollbar-button:vertical:increment {
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAKCAYAAABmBXS+AAAAAXNSR0IArs4c6QAAAD9JREFUKFNjZACBVcv/g2lsICySkZF4RbhMC4sEGwIxiWhF6AqhpqCaRLQimEIkUzBNwhEKCIfjDChk3+FRBAD1QhULt999SAAAAABJRU5ErkJggg==);
            background-repeat: no-repeat;
            background-position-x: 4px;
            background-position-y: 3px;
            background-size: 8px 16px;
        }

        &::-webkit-scrollbar-button:horizontal:decrement {
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAD1JREFUKFNjZMAGVi3/zxAWyYgshcIBS4AUgQBehTBFeBUiK8KpEF0R5SbCvEeUG9EVEwweWBARpRBLJAAADBEbC/NtWlUAAAAASUVORK5CYII=);
            background-repeat: no-repeat;
            background-position-x: 1px;
            background-position-y: 1px;
            background-size: 12px 16px;

            width: 12rem;
        }

        &::-webkit-scrollbar-button:horizontal:increment {
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAADpJREFUKFNjZEAGq5b/ZwiLZEQRg3JQBUEKQQCLYuwKsSjGrRBNMX6FSIqpYCKahyjwNVHhiC2koWIAJBEbCzHyaSkAAAAASUVORK5CYII=);
            background-repeat: no-repeat;
            background-position-x: 0px;
            background-position-y: 1px;
            background-size: 12px 16px;

            width: 12rem;
        }
    }
}